<!-- Header -->
<h3 *ngIf="products; else noProducts">{{ title }}</h3>

<div class="row">

  <!-- Empty List Of Products -->
  <ng-template #noProducts>
    <div class="alert alert-dark" role="alert">
      No products in this category
    </div>
  </ng-template>

  <!-- CardItem -->
  <div *ngFor="let product of products" class="card" style="width: 18rem">
    <img src={{product.imageUrl}} height="250" width="120" class="card-img-top" alt="..."/>
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <a href="#" class="btn btn-primary">{{product.price}}</a>
    </div>
  </div>
</div>
